@import "mixins";

#about {
  background: rgb(197, 224, 233);
  .container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;

    .info {
      width: 48%;

      h2 {
        color: steelblue;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1rem;
      }

      .actions {
        button {
          margin-right: 1rem;
          color: white;
          background: steelblue;
          padding: 0.3rem 0.6rem;
          border: none;
          border-radius: 0.3rem;
        }
      }
    }

    .image {
      width: 48%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      figure {
        width: 50%;
        img {
          width: 100%;
          max-width: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}
