@import "global";
@import "header";
@import "home";
@import "about";
@import "projects";
@import "social";

@media (max-width: 400px) {
  header {
    height: 6rem;

    .container {
      display: grid;
      a {
        margin-left: 0;
        margin-right: 1rem;
      }
    }
  }

  #home {
    .container {
      justify-content: space-evenly;
      align-items: flex-start;
      margin-top: 5rem;
      height: 30rem;

      .info {
        .actions {
          button {
            margin-bottom: 0.5rem;
          }
        }
      }

      .image {
        justify-content: center;

        figure {
          width: 80%;
        }
      }
    }
  }

  #about {
    margin: 3rem 0;
    .container {
      @include container;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 5rem;

      /*100%*/
      .oneHundred {
        width: 0rem;
      }

      .oneHundred-final {
        width: 7rem;
        transition: all 2s ease;
      }

      /*90%*/
      .ninety {
        width: 0rem;
      }

      .ninety-final {
        width: 6.3rem;
        transition: all 2s ease;
      }

      /*80%*/
      .eigthy {
        width: 0rem;
      }

      .eigthy-final {
        width: 5.6rem;
        transition: all 2s ease;
      }

      /*75%*/
      .seventyFive {
        width: 0rem;
      }

      .seventyFive-final {
        width: 5.25rem;
        transition: all 2s ease;
      }

      /*70%*/
      .seventy {
        width: 0rem;
      }

      .seventy-final {
        width: 4.9rem;
        transition: all 2s ease;
      }

      /*50%*/
      .fifty {
        width: 0rem;
      }

      .fifty-final {
        width: 3.5rem;
        transition: all 2s ease;
      }

      /*40%*/
      .forty {
        width: 0rem;
      }

      .forty-final {
        width: 2.8rem;
        transition: all 2s ease;
      }

      /*10%*/
      .ten {
        width: 0rem;
      }

      .ten-final {
        width: 0.7rem;
        transition: all 2s ease;
      }
    }
  }
}
